<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% load staticfiles %}
<link href="{% static 'timeline/custom.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'timeline/custom.js' %}"></script>

<html> 
<head>
  <title>{{ row.title }} | Timeline</title>
</head>
<body>
<div class="container">
  <br>
    <div class="row">
      <div class="col-sm-2">
        <a style="text-decoration : none" href="/"><h1 id="timeline" style="color:#2e6da4">Timeline</h1></a>
      </div>
    </div>
    <hr style="margin-top: 0px">
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %} 
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="panel panel-primary" style="border:0"> 
          <div class="panel-heading" style="font-size:20px">Details</div>
          <div class="panel-body">
            <h4><strong>Title </strong></h4>
            <input type="text" name="title" class="form-control" value="{{ row.title }}">
            <h4><strong>Type </strong></h4>
            <select id="type" name="type" class="form-control">
                <option value="Document" selected>Document</option>
                <option value="Music">Music</option>
                <option value="Picture">Picture</option>
                <option value="Video">Video</option>
                <option value="Other">Other</option>
            </select>
            <h4><strong>File </strong></h4>
            <div2 id="Document">
              Choose a PDF Document to upload
              <input id="id_docfile" type="file" name="docfile" accept=".pdf">
            </div2>
            <div2 id="Music">
              Choose an mp3 file to upload
              <input id="id_docfile" type="file" name="docfile" accept="audio/mp3">
            </div2>
            <div2 id="Picture">
              Choose an image file to upload
              <input id="id_docfile" type="file" name="docfile" accept="image/*">
            </div2>
            <div2 id="Video">
              Choose an mp4 file to upload
              <input id="id_docfile" type="file" name="docfile" accept="video/mp4">
            </div2>
            <div2 id="Other">
              Choose a file to upload
              <input id="id_docfile" type="file" name="docfile" accept="*">
            </div2>
          </div>
        </div> 
        <div class="col-sm-6">
          <input type="submit" class="btn btn-primary btn-block">
        </div>
        <div class="col-sm-6">
          <button id='Cancel' type="button" class="btn btn-danger btn-block" onclick="window.location.href='/'">Cancel</button>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div><br>

  </form>

</div>
</body> </html>

<script>
    
  $(document).ready(function() { 
    var type = "{{ row.type }}";
    $("select#type").val(type);
    $('div2:not(#'+ type + ')').hide();
    $('#' + type).show();
    $('select#type').change(function() {
        var val = $(this).val();
        $('div2:not(#'+ val + ')').hide();
        $('#' + val).show();
    });
  });
</script>