<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% load staticfiles %}
<link href="{% static 'timeline/custom.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'timeline/custom.js' %}"></script>

<html> 
<head>
  <title>{{ row.title }} | Timeline</title>
</head>
<body>
<div class="container">
  <br>
    <div class="row">
      <div class="col-sm-2">
        <a style="text-decoration : none" href="/"><h1 id="timeline" style="color:#2e6da4">Timeline</h1></a>
      </div>
    </div>
    <hr style="margin-top: 0px">
  <form method="post" action=".">
  {% csrf_token %} 
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <h4><strong>Title </strong></h4>
        <input type="text" name="title" class="form-control" value="{{ row.title }}">
        <h4><strong>Type </strong></h4>
        <input type="text" name="type" class="form-control" value="{{ row.type }}">
        <h4><strong>Text </strong></h4>
        <input type="text" name="text" class="form-control" value="{{ row.text }}"><br>
        <div class="col-sm-6">
          <input type="submit" class="btn btn-primary btn-block">
        </div>
        <div class="col-sm-6">
          <button id='Cancel' type="button" class="btn btn-danger btn-block" onclick="window.location.href='/'">Cancel</button>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div><br>

  </form>

</div>
</body> </html>